<main>
  <div class="mainTop">
    <h4>La liste des achat</h4>
    <!-- Button trigger modal -->
    <button type="button" class="btn mt-3 modalBtn" data-bs-toggle="modal" data-bs-target="#modalAjouter"
      (click)="getAllCategorie()">
      Ajouter achat
    </button>
  </div>
  <div class="mainBottom p-4">
    @if(achats.length > 0){
    <table datatable [dtOptions]="dtOptions" class="table">
      <thead class="table-secondary rounded-top-3">
        <tr>
          <th>Produit</th>
          <th>Quantité</th>
          <th>Prix unitaire</th>
          <th>Montant</th>
          <th>Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for(item of achats; track $index){
        <tr>
          <td>{{ item.produit_id | produitIdToProduitName: AllProducts }}</td>
          <td>{{ item.quantiteachat }}</td>
          <td>{{ item.prixachat }}f CFA</td>
          <td>{{ item.montantachat }}f CFA</td>
          <td>{{ item.created_at | date: 'dd/MM/YYYY' }}</td>
          <td>
            <button class="btn" data-bs-toggle="modal" data-bs-target="#voirDetail" (click)="getAchatById(item.id)"><i
                class="fa-solid fa-eye"></i></button>
            <button class="btn" data-bs-toggle="modal" data-bs-target="#modifierAchat"
              (click)="getAchatById(item.id)"><i class="fa-solid fa-pen-to-square"></i></button>
            <button class="btn"><i class="fa-solid fa-trash" (click)="  onDeleteAchat(item.id)"></i></button>
          </td>
        </tr>
        }

      </tbody>
    </table>
    }@else {
    <table class="table">
      <thead class="table-secondary rounded-top-3">
        <tr>
          <th>id</th>
          <th>Nom</th>
          <th>Nombre de vente</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td colspan="4" class="text-center"> Aucun achat disponible</td>
        </tr>

      </tbody>
    </table>
    }

  </div>
</main>


<!-- les Modals -->
<div class="modal fade modal" id="modalAjouter" tabindex="-1" aria-labelledby="modalAjouterLabel" aria-hidden="true"
  data-bs-backdrop='static'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalAjouterLabel">Ajouter achat</h1>
      </div>
      <div class="modal-body p-4 row d-flex justify-content-between">
        <div class="d-flex justify-content-end">
          <button class="btn btn-sm col-4 ms-2 " data-bs-toggle="modal" data-bs-target="#ajouterNouveauProduit">Nouveau
            produit</button>
        </div>
        <form>
          <div class="mb-3">
            <label for="nomAdd" class="form-label align-items-center">Nom du achat</label>
            <input type="text" class="form-control" id="nomAdd" name="nomAdd" placeholder="Nom de l'achat"
              [(ngModel)]="nomAchatAdd">
          </div>
          <div class="mb-3">
            <label for="categorie" class="form-label">Catégorie</label>
            <select class="form-select" name="categorie" id="categorie" aria-label="Default select example"
              [(ngModel)]="SelectedcategorieId">
              <option selected disabled>Selectionner la catégorie</option>
              @for(item of categories; track $index){
              <option [value]="item.id" (click)="getProduitByIdCategorie(item.id)"> {{ item.nom }}</option>
              }
            </select>
          </div>
          <div class="mb-3">
            <label for="produit" class="form-label">Produit</label>
            <select class="form-select" name="produit" id="produit" aria-label="Default select example"
              [(ngModel)]="produit_idAdd" (click)="getProduitByIdCategorie(SelectedcategorieId)">
              <option selected disabled>Veuillez selectionner la categorie pour voir les produits</option>
              @for(item of productsByCategorie; track $index){
              <option [value]="item.id"> {{ item.nomproduit }}</option>
              }
            </select>
          </div>
          <div class="mb-3">
            <label for="quantiteachatAdd" class="form-label">Quantité achat</label>
            <input type="text" class="form-control" id="quantiteachatAdd" name="quantiteachatAdd"
              placeholder="Qantité acheter" [(ngModel)]="quantiteachatAdd">
          </div>
          <div class="mb-3">
            <label for="prixachatAdd" class="form-label">Prix unitaire</label>
            <input type="tel" class="form-control" id="prixachatAdd" name="prixachatAdd" placeholder="Prix unitaire"
              [(ngModel)]="prixachatAdd">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btnAnnuler" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn" (click)="  onAddAchat()" data-bs-dismiss="modal">Ajouter</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" data-bs-backdrop='static' id="modifierAchat" tabindex="-1" aria-labelledby="modifierAchatLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modifierAchatLabel">Modifier produit</h1>
      </div>
      <div class="modal-body">
        @if(selectedAchat){
        <form>
          <div class="mb-3">
            <label for="nomAchatUpdate" class="form-label align-items-center">Nom du achat</label>
            <input type="text" class="form-control" id="nomAchatUpdate" name="nomAchatUpdate"
              placeholder="Nom de l'achat" [(ngModel)]="nomAchatUpdate">
          </div>
          <div class="mb-3">
            <label for="categorie" class="form-label">Catégorie</label>
            <select class="form-select" name="categorie" id="categorie" aria-label="Default select example"
              [(ngModel)]="SelectedcategorieId" (click)="getAllCategorie()">
              <option selected>Optionelle</option>
              @for(item of categories; track $index){
              <option [value]="item.id" (click)="getProduitByIdCategorie(item.id)"> {{ item.nom }}</option>
              }
            </select>
          </div>
          <div class="mb-3">
            <label for="produitUpdate" class="form-label">Produit</label>
            <select class="form-select" name="produitUpdate" id="produitUpdate" aria-label="Default select example"
              [(ngModel)]="produit_idUpdate" (click)="getProduitByIdCategorie(SelectedcategorieId)">
              <option selected [value]="selectedAchat.produit_id">{{ selectedAchat.produit_id | produitIdToProduitName:
                AllProducts }}</option>
              @for(item of productsByCategorie; track $index){
              <option [value]="item.id"> {{ item.nomproduit }}</option>
              }
            </select>
          </div>
          <div class="mb-3">
            <label for="quantiteachatAdd" class="form-label">Quantité achat</label>
            <input type="text" class="form-control" id="quantiteachatAdd" name="quantiteachatAdd"
              placeholder="Qantité acheter" [(ngModel)]="quantiteachatUpdate">
          </div>
          <div class="mb-3">
            <label for="prixachatAdd" class="form-label">Prix unitaire</label>
            <input type="tel" class="form-control" id="prixachatAdd" name="prixachatAdd" placeholder="Prix unitaire"
              [(ngModel)]="prixachatUpdate">
          </div>
        </form>
        }

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btnAnnuler" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn" (click)=" onUpdateAchat(selectedAchat.id)"
          data-bs-dismiss="modal">Modifier</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" data-bs-backdrop='static' id="voirDetail" tabindex="-1" aria-labelledby="voirDetailLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="voirDetailLabel">Detail produit</h1>
      </div>
      <div class="modal-body modalContent">
        <div class="modalContentTop">
          <div class="modalContentTopImage"></div>
          @if(selectedAchat){
          <div class="modalContentTopItems">
            <div class="modalContentBottomItem">
              <span class="fs-5 fw-bold">Nom de l'achat</span>
              <p class="fs-5">{{ selectedAchat.nomachat }}</p>
            </div>
            <div class="modalContentBottomItem">
              <span class="fs-5 fw-bold">Produit</span>
              <p class="fs-5">{{ selectedAchat.produit_id | produitIdToProduitName: AllProducts }}</p>
            </div>
            <div class="modalContentBottomItem">
              <span class="fs-5 fw-bold">Quantité</span>
              <p class="fs-5">{{ selectedAchat.quantiteachat }}</p>
            </div>
            <div class="modalContentBottomItem">
              <span class="fs-5 fw-bold">Prix unitaire</span>
              <p class="fs-5">{{ selectedAchat.prixachat }}f CFA</p>
            </div>
            <div class="modalContentBottomItem">
              <span class="fs-5 fw-bold">Montant Total</span>
              <p class="fs-5">{{ selectedAchat.montantachat }}f CFA</p>
            </div>
          </div>
          }
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btnAnnuler" data-bs-dismiss="modal">Fermer</button>

      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="ajouterNouveauProduit" tabindex="-1" aria-labelledby="ajouterNouveauProduitLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ajouterNouveauProduitLabel">Ajouter produit</h1>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="nomProduit" class="form-label">Nom du produit</label>
            <input type="text" class="form-control" id="nomProduit" placeholder="Nom du produit" name="nomProduit"
              [(ngModel)]="nomProduit">
          </div>
          <div class="mb-3">
            <label for="categorie_idProduit" class="form-label">Catégorie du produit</label>
            <select class="form-select" name="specialite" aria-label="Default select example"
              [(ngModel)]="categorie_idProduit">
              <option selected disabled>Selectionner son specialté</option>
              @for(item of categories; track $index){
              <option [value]="item.id"> {{ item.nom }}</option>
              }
            </select>
          </div>
          <div class="mb-3">
            <label for="quantiteSeuilProduit" class="form-label">Quantité seuil</label>
            <input type="number" class="form-control" id="quantiteSeuilProduit" placeholder="Nom du produit"
              name="quantiteSeuilProduit" [(ngModel)]="quantiteSeuilProduit">
          </div>
          <div class="mb-3">
            <label for="prixUProduit" class="form-label">Prix unitaire</label>
            <input type="number" class="form-control" id="prixUProduit" placeholder="Nom du produit" name="prixUProduit"
              [(ngModel)]="prixUProduit">
          </div>
          <div class="mb-3">
            <label for="imageAdd" class="form-label">Image</label><br>
            <input type="file" (change)="upload($event)" accept="*.png.jpg" style="width: 100%; overflow: scroll;">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btnAnnuler" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAjouter"
        (click)="save()">Ajouter</button>
      </div>
    </div>
  </div>
</div>

<!-- les Modals -->
