<nav class="col-12">
  <ul class="col-6 list-unstyled">
    <li>Acceuil</li>
    <li>A propos</li>
    <li>Nos produits</li>
    <li>Notre equipe</li>
    <li>Nous contacter</li>
  </ul>
</nav>
<header class="col-10 rounded-2 mb-3">

</header>
<section class="about col-10 p-5 rounded-3 mb-3">
  <div class="aboutLeft">
    <div class="aboutLeftItem rounded-3 p-3">
      <h5 class="text-center mb-4">A propos</h5>
      <div>
        <h3 class="fw-bold"><span>Rapid Stock &nbsp;</span>rerum libero reprehenderit</h3>
        <p class="mb-3">Ipsa sint sit. Quis ducimus tempore dolores impedit et dolor cumque alias maxime. Enim
          reiciendis minus et
          rerum hic non. Dicta quas cum quia maiores iure. Quidem nulla qui assumenda incidunt voluptatem tempora
          deleniti
          soluta.</p>
        <button>Voir Nos produit</button>
      </div>

    </div>
  </div>

  <div class="aboutRight ">
    <div class="aboutRightItemLeft pt-5">
      <div class="aboutRightItem rounded-3 p-3">
        <div class="circle mb-3"><i class="fa-regular fa-face-smile"></i></div>
        <h5 class="title fw-bold mb-3">Satisfaction</h5>
        <p>Magni repellendus vel ullam hic officia accusantium ipsa dolor omnis dolor voluptatem</p>
      </div>
      <div class="aboutRightItem rounded-3 p-3">
        <div class="circle mb-3"><i class="fa-regular fa-face-smile"></i></div>
        <h5 class="title fw-bold mb-3">Satisfaction</h5>
        <p>Magni repellendus vel ullam hic officia accusantium ipsa dolor omnis dolor voluptatem</p>
      </div>
    </div>

    <div class="aboutRightItemRight pb-5">
      <div class="aboutRightItem rounded-3 p-3">
        <div class="circle mb-3"><i class="fa-regular fa-face-smile"></i></div>
        <h5 class="title fw-bold mb-3">Satisfaction</h5>
        <p>Magni repellendus vel ullam hic officia accusantium ipsa dolor omnis dolor voluptatem</p>
      </div>
      <div class="aboutRightItem rounded-3 p-3">
          <div class="circle mb-3"><i class="fa-regular fa-face-smile"></i></div>
        <h5 class="title fw-bold mb-3">Satisfaction</h5>
        <p>Magni repellendus vel ullam hic officia accusantium ipsa dolor omnis dolor voluptatem</p>
      </div>
    </div>
  </div>
</section>
<section class="productList col-10 rounded-3 p-3 mb-3">
  <h1 class="text-center mb-3">Nos Produit</h1>
  <ul class="col-6 list-unstyled p-3 rounded-2 mb-3">
    <li>Tout</li>
    <li>Ciment</li>
    <li>Electricité</li>
    <li>Jardinage</li>
    <li>Plomberie</li>
    <li>Fer</li>
  </ul>
  <div class="product ">
    <div class="productCard mb-5">

    </div>
    <div class="productCard mb-5">

    </div>
    <div class="productCard mb-5">

    </div>
    <div class="productCard mb-5">

    </div>
    <div class="productCard mb-5">

    </div>
    <div class="productCard mb-5">

    </div>
    <div class="productCard mb-5">

    </div>
    <div class="productCard mb-5">

    </div>
  </div>
  <div class="pagination col-6 rounded-3"></div>

</section>
