main {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  // border: 1px solid;
  border-radius: 12px;
  padding: 5px;
  display: grid;
  grid-template-columns: 28% 70%;
  justify-content: space-between;

  .mainContainerLeft {
    // border: 1px solid;
    display: grid;
    grid-template-rows: 30% 68%;
    gap: 2%;
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.08);
    height: 100%;

    .mainContainerLeftImage {
      // border: 1px solid;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;

      .image {
        height: 200px;
        width: 200px;
        // border: 1px solid;
        border-radius: 50%;
        background-image: url("https://img.freepik.com/photos-gratuite/beau-male-adulte-posant_23-2148729713.jpg?t=st=1707686184~exp=1707686784~hmac=5c14c793ccc62019d2e930b88de714f4fdae49e5c12d1881c3337441cbe955b9");
        background-size: cover;
        background-position: center;
      }
    }

    .mainContainerLeftInfo {
      // border: 1px solid;

      .mainContainerLeftInfoDetail {
        // border: 1px solid;
        width: 100%;

        h5 {
          color: #f47a20;

          span {
            color: black;
            font-weight: 0 !important;
          }
        }
      }
    }
  }

  .mainContainerRight {
    // border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;


    .navTabsButton{
      color: #f47a20;

      &.active{
        background-color: #f47a20;
        color: white;
      }

    }

    #updateInfo{

      button{
        background-color: #f47a20;
        color: white;
        border: none;
      }
    }

    #updatePassword{

      button{
        background-color: #f47a20;
        color: white;
        border: none;
      }
    }

  }
}
