<main>
  <div class="mainTop">
    <h4>La liste des clients</h4>
    <!-- Button trigger modal -->
    <button type="button" class="btn mt-3 modalBtn" data-bs-toggle="modal" data-bs-target="#modalAjouter">
      Ajouter client
    </button>
  </div>
  <div class="mainBottom p-4">
    @if (clients.length>0) {
    <table datatable [dtOptions]="dtOptions" class="table">
      <thead class="table-secondary rounded-top-3">
        <tr>
          <th>Code client</th>
          <th>Nom complet</th>
          <th>Prenom</th>
          <th>Addresse</th>
          <th>Téléphone</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for (item of clients; track $index) {
        <tr>
          <td>{{ item.code_client }}</td>
          <td>{{ item.nom}}</td>
          <td>{{ item.prenom }}</td>
          <td>{{ item.adresse }}</td>
          <td>{{ item.telephone }}</td>
          <td>
            <button class="btn" data-bs-toggle="modal" data-bs-target="#voirDetail"
              (click)="onSelectedClient(item.id)"><i class="fa-solid fa-eye"></i></button>
            <button class="btn" data-bs-toggle="modal" data-bs-target="#modifierProduit"
              (click)="onSelectedClient(item.id)"><i class="fa-solid fa-pen-to-square"></i></button>
            <button class="btn" (click)="onDeleteClient(item.id)"><i class="fa-solid fa-trash"></i></button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    }
    @else {
    <table class="table">
      <thead class="table-secondary rounded-top-3">
        <tr>
          <th>Code client</th>
          <th>Nom complet</th>
          <th>Prenom</th>
          <th>Addresse</th>
          <th>Téléphone</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="6" class="text-center">Auncun client</td>
        </tr>
      </tbody>
    </table>
    }
  </div>
</main>

<!-- les Modals -->
<div class="modal fade" id="modalAjouter" tabindex="-1" aria-labelledby="modalAjouterLabel" aria-hidden="true"
  data-bs-backdrop='static'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalAjouterLabel">Ajouter client</h1>
      </div>
      <div class="modal-body p-4">
        <form>
          <div class="mb-3">
            <label for="nomAdd" class="form-label">Nom du client</label>
            <input type="text" class="form-control" id="nomAdd" name="nomAdd" placeholder="Nom du client"
              [(ngModel)]="nomAdd">
          </div>
          <div class="mb-3">
            <label for="prenomAdd" class="form-label">Prénom du client</label>
            <input type="text" class="form-control" id="prenomAdd" name="prenomAdd" placeholder="Prénom du client"
              [(ngModel)]="prenomAdd">
          </div>
          <div class="mb-3">
            <label for="telephoneAdd" class="form-label">Téléphone</label>
            <input type="tel" class="form-control" id="telephoneAdd" name="telephoneAdd"
              placeholder="Numéro téléphone du client" [(ngModel)]="telephoneAdd">
          </div>
          <div class="mb-3">
            <label for="adresseAdd" class="form-label">Adresse</label>
            <input type="text" class="form-control" id="adresseAdd" name="adresseAdd" placeholder="Adresse du client"
              [(ngModel)]="adresseAdd">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btnAnnuler" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn" data-bs-dismiss="modal" (click)="onAddClient()">Ajouter</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" data-bs-backdrop='static' id="modifierProduit" tabindex="-1"
  aria-labelledby="modifierProduitLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modifierProduitLabel">Modifier client</h1>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="nomUpdate" class="form-label">Nom du client</label>
            <input type="text" class="form-control" id="nomUpdate" name="nomUpdate" placeholder="Nom du client"
              [(ngModel)]="nomUpdate">
          </div>
          <div class="mb-3">
            <label for="prenomUpdate" class="form-label">Prénom du client</label>
            <input type="text" class="form-control" id="prenomUpdate" name="prenomUpdate" placeholder="Prénom du client"
              [(ngModel)]="prenomUpdate">
          </div>
          <div class="mb-3">
            <label for="telephoneUpdate" class="form-label">Téléphone</label>
            <input type="tel" class="form-control" id="telephoneUpdate" name="telephoneUpdate"
              placeholder="Numéro téléphone du client" [(ngModel)]="telephoneUpdate">
          </div>
          <div class="mb-3">
            <label for="adresseUpdate" class="form-label">Adresse</label>
            <input type="text" class="form-control" id="adresseUpdate" name="adresseUpdate"
              placeholder="Adresse du client" [(ngModel)]="adresseUpdate">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btnAnnuler" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn" (click)="onUpdateClient(selectedClient.id)"
          data-bs-dismiss="modal">Modifier</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" data-bs-backdrop='static' id="voirDetail" tabindex="-1" aria-labelledby="voirDetailLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="voirDetailLabel">Detail Client</h1>
      </div>
      <div class="modal-body modalContent">
        <div class="modalContentTop">
          <div class="modalContentTopImage"></div>
          <div class="modalContentTopItems">
            @if(selectedClient){
            <div class="modalContentBottomItem">
              <span class="fs-5 fw-bold">Code client</span>
              <p class="fs-5">{{ selectedClient.code_client }}</p>
            </div>
            <div class="modalContentBottomItem">
              <span class="fs-5 fw-bold">Nom complet</span>
              <p class="fs-5">{{ selectedClient.prenom + " " + selectedClient.nom }}</p>
            </div>
            <div class="modalContentBottomItem">
              <span class="fs-5 fw-bold">Address</span>
              <p class="fs-5">{{ selectedClient.adresse }}</p>
            </div>
            <div class="modalContentBottomItem">
              <span class="fs-5 fw-bold">Numéro téléphone</span>
              <p class="fs-5">{{ selectedClient.telephone }}</p>
            </div>
            }
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btnAnnuler" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- les Modals -->
