<main>
  <div class="mainTop">
    <h4>La liste des employés</h4>
    <!-- Button trigger modal -->
    <button type="button" class="btn mt-3 modalBtn" data-bs-toggle="modal" data-bs-target="#modalAjouter">
      Ajouter Employé
    </button>
  </div>
  <div class="mainBottom p-4">
    @if (employe.length>0){
    <table datatable [dtOptions]="dtOptions" class="table">
      <thead class="table-secondary rounded-top-3">
        <tr>
          <th>Nom complet</th>
          <th>Email</th>
          <th>Addresse</th>
          <th>Téléphone</th>
          <th>Etat</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for (item of employe; track $index) {
        <tr>
          <td>{{ item.nom + " "+ item.prenom }}</td>
          <td>{{ item.email }}</td>
          <td>{{ item.adresse }}</td>
          <td>{{ item.telephone }}</td>
          <td>
            <span class="badge rounded-pill"  (click)="onActiveDeactiveEmploye(item.id)"
            [ngClass]="{'bg-success-subtle text-success px-3': item.etat === 'actif',
                        'bg-danger-subtle text-danger px-3': item.etat === 'inactif'}" style="cursor: pointer;">
            {{ item.etat }}
        </span>
          </td>
          <td>
            <button class="btn" data-bs-toggle="modal" data-bs-target="#voirDetail" (click)="getEmployeById(item.id)"><i
                class="fa-solid fa-eye"></i></button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    }@else {
    <table class="table">
      <thead class="table-secondary rounded-top-3">
        <tr>
          <th>Nom complet</th>
          <th>Email</th>
          <th>Addresse</th>
          <th>Téléphone</th>
          <th>Etat</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td colspan="6" class="text-center">Auncun client</td>
        </tr>
      </tbody>
    </table>
    }
  </div>
</main>


<!-- les Modals -->
<div class="modal fade" id="modalAjouter" tabindex="-1" aria-labelledby="modalAjouterLabel" aria-hidden="true"
  data-bs-backdrop='static'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalAjouterLabel">Ajouter employé</h1>
      </div>
      <div class="modal-body p-4">
        <form>
          <div class="mb-3">
            <label for="nomAdd" class="form-label">Nom</label>
            <input type="text" class="form-control" id="nomAdd" name="nomAdd" placeholder="Nom de l'employé"
              [(ngModel)]="nomAdd">
          </div>
          <div class="mb-3">
            <label for="prenomAdd" class="form-label">Prénom</label>
            <input type="text" class="form-control" id="prenomAdd" name="prenomAdd" placeholder="Prénom de l'employé"
              [(ngModel)]="prenomAdd">
          </div>
          <div class="mb-3">
            <label for="emailAdd" class="form-label">Email</label>
            <input type="text" class="form-control" id="emailAdd" name="emailAdd" placeholder="Prénom de l'employé"
              [(ngModel)]="emailAdd">
          </div>
          <div class="mb-3">
            <label for="telephoneAdd" class="form-label">Téléphone</label>
            <input type="tel" class="form-control" id="telephoneAdd" name="telephoneAdd"
              placeholder="Numéro téléphone de l'employé" [(ngModel)]="telephoneAdd">
          </div>
          <div class="mb-3">
            <label for="adresseAdd" class="form-label">Adresse</label>
            <input type="text" class="form-control" id="adresseAdd" name="adresseAdd" placeholder="Adresse de l'employé"
              [(ngModel)]="adresseAdd">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btnAnnuler" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn" (click)="onAddEmploye()" data-bs-dismiss="modal">Ajouter</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" data-bs-backdrop='static' id="voirDetail" tabindex="-1" aria-labelledby="voirDetailLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="voirDetailLabel">Detail employé</h1>
      </div>
      <div class="modal-body modalContent">
        <div class="modalContentTop">
          <div class="modalContentTopImage"></div>
          <div class="modalContentTopItems">
            @if(selectedEmploye){
            <div class="modalContentBottomItem">
              <span class="fs-5 fw-bold">Nom complet</span>
              <p class="fs-5">{{ selectedEmploye.nom + " " + selectedEmploye.prenom }}</p>
            </div>
            <div class="modalContentBottomItem">
              <span class="fs-5 fw-bold">Email</span>
              <p class="fs-5">{{ selectedEmploye.email }}</p>
            </div>
            <div class="modalContentBottomItem">
              <span class="fs-5 fw-bold">Address</span>
              <p class="fs-5">{{ selectedEmploye.adresse }}</p>
            </div>
            <div class="modalContentBottomItem">
              <span class="fs-5 fw-bold">Numéro téléphone</span>
              <p class="fs-5">{{ selectedEmploye.telephone }}</p>
            </div>
            }
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btnAnnuler" data-bs-dismiss="modal">Fermer</button>

      </div>
    </div>
  </div>
</div>

<!-- les Modals -->
