<main>
  <div class="mainTop">
    <h4>La liste des produit</h4>
    <!-- Button trigger modal -->
    <button type="button" class="btn mt-3 modalBtn" data-bs-toggle="modal" data-bs-target="#modalAjouter"
      (click)="getAllCategorie()">
      Ajouter produit
    </button>
  </div>
  <div class="mainBottom p-4">
    @if(produits.length > 0){
    <table datatable [dtOptions]="dtOptions" class="table">
      <thead>
        <tr>

          <th>Image</th>
          <th>Nom du produit</th>
          <th>Quantité</th>
          <th>Prix unitaire</th>
          <th>Quantité seuil</th>
          <th>Etat</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for (item of produits; track $index) {
        <tr>
          <td><img src="{{ item.image }}" alt="" style="height: 50px; width: 50px; border-radius: 50%;"></td>
          <td>{{ item.nomproduit }}</td>
          <td>{{ item.quantite }}</td>
          <td>{{ item.prixU }}</td>
          <td>{{ item.quantiteseuil }}</td>
          <td>
            <span *ngIf="item.quantite <= 0" class="badge rounded-pill bg-danger-subtle text-danger px-3">Rupture de
              stock</span>
            <span *ngIf="item.quantite > 0 && item.quantite <= 10"
              class="badge rounded-pill bg-warning-subtle text-warning px-3">Niveau d'alerte</span>
            <span *ngIf="item.quantite > 10" class="badge rounded-pill bg-success-subtle text-success px-3">En
              stock</span>
          </td>
          <td>
            <button class="btn" data-bs-toggle="modal" data-bs-target="#voirDetail" (click)="getProduitById(item.id)"><i
                class="fa-solid fa-eye"></i></button>
            <button class="btn" data-bs-toggle="modal" data-bs-target="#modifierProduit"
              (click)="getProduitById(item.id); getAllCategorie()"><i class="fa-solid fa-pen-to-square"></i></button>
            <button class="btn" (click)="onDeleteProduit(item.id)"><i class="fa-solid fa-trash"></i></button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    } @else {
    <table class="table">
      <thead>
        <tr>
          <th>Nom du produit</th>
          <th>Quantité</th>
          <th>Prix unitaire</th>
          <th>Quantité seuil</th>
          <th>Etat</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        @for (item of produits; track $index) {
        <tr>
          <td colspan="6" class="text-center">Aucun produit disponible</td>
        </tr>
        }
      </tbody>
    </table>
    }

  </div>
</main>




<!-- les Modals -->
<div class="modal fade" id="modalAjouter" tabindex="-1" aria-labelledby="modalAjouterLabel" aria-hidden="true"
  data-bs-backdrop='static'>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalAjouterLabel">Ajouter produit</h1>
      </div>
      <div class="modal-body p-4">
        <form>
          <div class="mb-3">
            <label for="nomProduitAdd" class="form-label">Nom du produit</label>
            <input type="text" class="form-control" id="nomProduitAdd" placeholder="Nom du produit" name="nomProduitAdd"
              [(ngModel)]="nomAdd">
          </div>
          <div class="mb-3">
            <label for="categorieAdd" class="form-label">Catégorie du produit</label>
            <select class="form-select" name="specialite" aria-label="Default select example"
              [(ngModel)]="categorie_idAdd">
              <option selected disabled>Selectionner son specialté</option>
              @for(item of categories; track $index){
              <option [value]="item.id"> {{ item.nom }}</option>
              }
            </select>
          </div>
          <!-- <div class="mb-3">
            <label for="quantiteAdd" class="form-label">Quantité</label>
            <input type="number" class="form-control" id="quantiteAdd" name="quantiteAdd" placeholder="Quantité du produit"
              [(ngModel)]="quantiteAdd">
          </div> -->
          <div class="mb-3">
            <label for="quantiteSeuil" class="form-label">Quantité seuil</label>
            <input type="number" class="form-control" id="quantiteSeuil" placeholder="Quantite seuil du produit"
              name="quantiteSeuil" [(ngModel)]="quantiteSeuilAdd">
          </div>
          <div class="mb-3">
            <label for="prixUnitaire" class="form-label">Prix unitaire</label>
            <input type="number" class="form-control" id="prixUnitaire" placeholder="Prix unitaire du produit"
              name="prixUnitaire" [(ngModel)]="prixUAdd">
          </div>
          <div class="mb-3">
            <label for="imageAdd" class="form-label">Image</label><br>
            <input type="file" (change)="upload($event)" accept="*.png.jpg" style="width: 100%; overflow: scroll;">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btnAnnuler" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn" (click)="save()" data-bs-dismiss="modal">Ajouter</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" data-bs-backdrop='static' id="modifierProduit" tabindex="-1"
  aria-labelledby="modifierProduitLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modifierProduitLabel">Modifier produit</h1>
      </div>
      <div class="modal-body">
        <form>
          @if(selectedProduit){
          <div class="mb-3">
            <label for="nomProduitUpdate" class="form-label">Nom du produit</label>
            <input type="text" class="form-control" id="nomProduitUpdate" placeholder="Nom du produit"
              name="nomProduitUpdate" [(ngModel)]="nomUpdate">
          </div>
          <div class="mb-3">
            <label for="categorieUpdate" class="form-label">Catégorie du produit</label>
            <select class="form-select" name="specialite" aria-label="Default select example"
              [(ngModel)]="categorie_idUpdate">
              <option selected [value]="selectedProduit.id">{{ selectedProduit.nom }}</option>
              @for(item of categories; track $index){
              <option [value]="item.id"> {{ item.nom }}</option>
              }
            </select>
          </div>
          <div class="mb-3">
            <label for="quantiteUpdate" class="form-label">Quantité</label>
            <input type="number" class="form-control" id="quantiteUpdate" name="quantiteUpdate"
              placeholder="Nom du produit" [(ngModel)]="quantiteUpdate">
          </div>
          <div class="mb-3">
            <label for="quantiteSeuil" class="form-label">Quantité seuil</label>
            <input type="number" class="form-control" id="quantiteSeuil" placeholder="Nom du produit"
              name="quantiteSeuil" [(ngModel)]="quantiteSeuilUpdate">
          </div>
          <div class="mb-3">
            <label for="prixUniatireUpdate" class="form-label">Prix unitaire</label>
            <input type="number" class="form-control" id="prixUniatireUpdate" placeholder="Nom du produit"
              name="prixUniatireUpdate" [(ngModel)]="prixUUpdate">
          </div>
          <!-- <div class="mb-3">
              <label for="imageAdd" class="form-label">Image</label>
              <input type="file" class="form-control" id="imageAdd" placeholder="Nom du produit" name="imageAdd"
                [(ngModel)]="imageAdd">
            </div> -->
          }


        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btnAnnuler" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn" data-bs-dismiss="modal"
          (click)="onUpdateProduit(selectedProduit.id)">Modifier</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" data-bs-backdrop='static' id="voirDetail" tabindex="-1" aria-labelledby="voirDetailLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="voirDetailLabel">Detail produit</h1>
      </div>
      <div class="modal-body">
        <div class="modalBodyConatiner">
          @if(selectedProduit){
          <div class="modalBodyConatinerLeft">
            <img
              src="{{ selectedProduit.image }}"
              alt="">
          </div>
          <div class="modalBodyConatinerRight">
            <div class="modalBodyConatinerRightItem py-5">

              <div class="mb-4 ">
                <label for="exampleInputEmail1" class="form-label">Nom du produit</label>
                <h6>{{ selectedProduit.nomproduit }}</h6>
              </div>
              <div class="mb-4 ">
                <label for="exampleInputEmail1" class="form-label">Catégorie du produit</label>
                <h6>{{ selectedProduit.categorie_id | categorieIdToCategorieName:categories }}</h6>
              </div>
              <div class="mb-4 ">
                <label for="exampleInputEmail1" class="form-label">Quantité en stock</label>
                <h6>{{ selectedProduit.quantite }}</h6>
              </div>
              <div class="mb-4 ">
                <label for="exampleInputEmail1" class="form-label">Prix unitaire</label>
                <h6>{{ selectedProduit.prixU }}f CFA</h6>
              </div>

            </div>
          </div>
        }
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btnAnnuler" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

<!-- les Modals -->
